<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/admin_layout"
>
<head>
    <meta charset="UTF-8">
    <title>Изменить данные профиля</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container mt-5">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID пользователя</th>
                <th scope="col">Сумма</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Имя</th>
                <th scope="col">Статус</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requests}">
                <td class="align-middle text-center bg-light" th:text="${request.getId()}"></td>
                <td class="align-middle text-center" th:text="${request.getUser().getId()}"></td>
                <td class="align-middle text-center bg-success text-white" th:text="${request.getAmount() + '₽'}"></td>
                <td class="align-middle" th:text="${request.getPhone()}"></td>
                <td class="align-middle" th:text="${request.getName()}">Иванов Иван</td>
                <td class="align-middle text-center bg-warning" th:if="${request.getStatus().toString() == 'NEW'}">
                    Новый
                </td>
                <td class="align-middle text-center bg-success" th:if="${request.getStatus().toString() == 'ACCEPTED'}">
                    Принятый
                </td>
                <td class="align-middle text-center bg-danger" th:if="${request.getStatus().toString() == 'REJECTED'}">
                    Отклонённый
                </td>
                <td class="align-middle text-center">
                    <form class="d-inline" th:if="${request.getStatus().toString() == 'NEW'}"
                          th:action="@{/admin/balance-requests/accept/{id}(id=${request.getId()})}"
                          method="post"
                          onsubmit="return confirm('Вы действительно хотите подтвердить это пополнение?');">
                        <button type="submit" class="btn btn-sm btn-success">Подтвердить</button>
                    </form>

                    <form class="d-inline" th:if="${request.getStatus().toString() == 'NEW'}"
                          th:action="@{/admin/balance-requests/reject/{id}(id=${request.getId()})}"
                          method="post"
                          onsubmit="return confirm('Вы действительно хотите отклонить это пополнение?');">
                        <button type="submit" class="btn btn-sm btn-danger">Отклонить</button>
                    </form>
                    <form class="d-inline" th:action="@{/admin/balance-requests/delete/{id}(id=${request.getId()})}"
                          method="post"
                          onsubmit="return confirm('Вы действительно хотите удалить это пополнение?');">
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>