<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/admin_layout"
>
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container mt-5">

        <div th:if="${param.success}" class="alert alert-success" role="alert">
            Данные успешно обновлены!
        </div>

        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Email</th>
                <th scope="col">Баланс</th>
                <th scope="col">Роль</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td class="align-middle text-center" th:text="${user.getId()}"></td>
                <td class="align-middle" th:text="${user.getName()}"></td>
                <td class="align-middle" th:text="${user.getEmail()}"></td>
                <td class="align-middle" th:text="${user.getBalance()}"></td>
                <td class="align-middle">
                    <span class="badge bg-success" th:if="${user.getRole() == 'ROLE_USER'}">Пользователь</span>
                    <span class="badge bg-primary" th:if="${user.getRole() == 'ROLE_ADMIN'}">Администратор</span>
                </td>
                <td class="align-middle text-center">
                    <a th:href="@{/admin/users/edit/{id}(id=${user.getId()})}"
                       class="btn btn-sm btn-outline-secondary me-2">Редактировать</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>